<p>
  {{=formatCitation(cleanTitle, subtitle, authors, editors, date_published,
    press_settings.getLocalizedValue('location', ''), press_settings.getLocalizedValue('publisher', ''), doi, locale,
    series_name=series_name, series_pos=submission.series_position, max_contrib=3,date_first_published=date_first_published,
    chapter=c)}}
  {{citation_doi = chapter_doi if chapter_doi else doi}}
  {{=A(formatDoi(citation_doi), _href=formatDoi(citation_doi))}}
</p>
<!-- citation button -->

<a href="#citationModal" class="btn btn-default" data-toggle="modal" data-target="#citationModal" role="button">{{=T('More citation styles')}}</a>
<!-- Modal -->
<div id="citationModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">{{=T('Choose citation style')}}</h5>
      </div>
      <div id="citationModalBody" class="modal-body">
        <!-- Citation accordion will be displayed here-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> {{=T('Close')}}</button>
      </div>
    </div>
  </div>
</div>
{{=SCRIPT(_src=URL('static', 'citeproc/citeproc.min.js'))}}
{{=SCRIPT(_src=URL('static', 'citeproc/citeproc-wrapper.js'))}}
<script type="text/javascript">
    $.fn.citeRender.defaults.baseUrl = '{{=URL('static', 'citeproc')}}';
    $.fn.citeRender.defaults.dataUrl = '{{=URL('api', 'csl')}}';
    $.fn.citeRender.defaults.lang = '{{=session.forced_language}}';
    $('#citationModalBody').citationDisplay({{=XML(submission_id)}});
</script>
