
{{
# -*- coding: utf-8 -*-

import uuid
checksum = uuid.uuid4()
from email.mime.text import MIMEText
from subprocess import Popen, PIPE


form = FORM(
    INPUT(name='sName', requires=IS_NOT_EMPTY()),
    INPUT(name='sSName', requires=IS_NOT_EMPTY()),
    INPUT(name='senderEmail', requires=IS_NOT_EMPTY()),
    INPUT(name='recipientEmail', requires=IS_NOT_EMPTY()),
    INPUT(type='submit'))
if form.process(formname='reccommendform').accepted:
    sName = form.vars.sName
    sSName = form.vars.sSName
    web_url = str(response['_view_environment']['myconf']['web']['url'])

    rc = 'recommends you\n'
    if session.forced_language == 'de':
        rc = "empfiehlt Ihnen aus dem Verlagsprogramm von Heidelberg University Publishing" + '\n' + web_url
    pass

    path = web_url + request.env.path_info

    citation_year = dateToStr(date_published, locale, "%Y")
    citation = formatCitation(cleanTitle, subtitle, authors, editors, citation_year,
                              press_settings.getLocalizedValue('location', ''),
                              press_settings.getLocalizedValue('publisher', ''), doi, locale,
                              series_name=series_name, series_pos=submission.series_position, max_contrib=3)
    doi_url = "http://dx.doi.org/" + doi

    email_elements = [sSName, sName, rc, ' '.join([citation, doi_url]), path]
    email_text = ' '.join(email_elements)
    msg = MIMEText(email_text.decode('utf-8'), 'plain', 'utf-8')
    msg["From"] = form.vars.senderEmail
    msg["To"] = form.vars.recipientEmail
    msg["Subject"] = T('Book Recommendation')
    p = Popen(["/usr/sbin/sendmail", "-t", "-oi"], stdin=PIPE)
    p.communicate(msg.as_string())

elif form.errors:
    redirect(URL('error'))

pass


}}


<button type="button" class="btn btn-default" data-toggle="modal" data-target="#recommend-modal">
  {{=T('Share')}}
</button>

<!-- Modal -->
<div class="modal fade" id="recommend-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="recommmend-modal-label">{{=T('Book Recommendation')}}</h4>

      </div>
      <div class="modal-body">

      	 <form action="#" enctype="multipart/form-data" method="post">
			<div class="form-group">
                <label for="SendeSName">{{=T('Sender first name')}}</label>
                <input class="form-control" type="text" placeholder="" id="sSName" required>
    			<label for="SendeName">{{=T('Sender surname')}}</label>
                <input class="form-control" type="text" placeholder="" id="sName" required>
    			<label for="senderEmail" class="">{{=T('Sender mail')}}</label>
                <input type="email" class="form-control" id="recommmend-sender-email"  placeholder="" name="senderEmail"  required>
			    <label for="RecipientEmail">{{=T('Recipient mail')}}</label>
			    <input type="email" class="form-control" id="recommend-recipient-email" aria-describedby="emailHelp" placeholder=""  required name="recipientEmail" >   <input type="hidden" name="_formname" value="reccommendform">
                <input type="hidden" name="_formkey" value="{{=form.formkey}}">
			 </div>
			  <button type="submit" class="btn btn-default">{{=T('Send')}}</button>
    	</form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{=T('Close')}}</button>
        </div>
    </div>
  </div>
</div>


<style>
#recommmendReceiverNotify {
 		width: 0.5px;
        height: 0.55px;
        border: 1px solid #ffe;
        
        
    }
    
</style>
