<!DOCTYPE html>
<div class="book_reviews">
{{
def set_publisher_l(p, s):
if len(p)>0 and len(s)>0:
 return A(p, _href=s)
 elif len(p) > 0:
 return p
 elif len(s) > 0:
return A(s, _href=s)
else:
return None
pass

}}

{{
def format_date(d):
l = d.split('-')
val =  '/'.join(reversed(l))
val =val +'.'
return val
}}

{{
pf= None
for val in ['Review','Rezension']:
	if pf is None:
    	pf = ompdal.getPublicationFormatByName(submission_id,val, available=False, approved=True)
pass
pass
}}


	{{
	data =[]
	if pf:
		=P(B(T('Media coverage')))
		for i in pf:
			fids =ompdal.getReviewFilesByPublicationFormat(submission_id, i['publication_format_id'])
		 	for fid in fids:
				li = ompdal.getSubmissionFileSettings(fid['file_id']).as_list()
				data = [l for l in li if l['locale']==locale or l['locale']=='']
				v = {}
				for d in data:
					v[d['setting_name']]=d['setting_value']
				pass
	            if v['description']:
				=XML(v['description'])
				pass
				if v['creator']:
				=P()
				=XML(v['creator'])
	            pass
				pl = set_publisher_l(v['publisher'], v['source'])
				if pl:
					=XML(' ')
					=pl
				pass
				=XML(' ')
		                =XML(format_date(v['dateCreated']))
				=BR()
				=BR()
				pass
			pass
		pass
	pass
	}}






</div>
