{{book_id=[myconf.take('statistik.id')+':'+str(submission.submission_id)]}}
{{chapter_ids=[]}}

<ul class="nav nav-tabs">
    <li class="active"><a href="#full" data-toggle="tab"><i class="icon-briefcase"></i> {{=T('Book')}}</a></li>
    <li class=""><a href="#chapters" data-toggle="tab">{{=T('Chapters')}}</a></li>

</ul>

<div class="tab-content">
    <div class="tab-pane active" id="full">
        <div class="table">
            <div class="stats_chapter_row">
                <div class="stats_chapter_cell">
                    <div class="stats_chapter_title"></div>
                </div>
                <div class="stats_chapter_cell">
                    <div id="{{=book_id[0].replace(':','_')}}" class="chapter_file">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- full -end -->
    <div class="tab-pane" id="chapters">
        <div id="statsTableChapters" class="table">
            {{display_authors=haveMultipleAuthors(chapters)}}

            {{for c in chapters:}}
            {{c_title = c.settings.getLocalizedValue('title', locale)}}
            {{ch_id=myconf.take('statistik.id')+':'+str(submission.submission_id)+'-c'+str(c.attributes.chapter_id)}}
            {{chapter_ids.append(ch_id)}}

            <div class="stats_chapter_row">
                <div class="stats_chapter_cell">
                    <div class="stats_chapter_title">{{=c_title}}</div>
                </div>
                <div class="stats_chapter_cell">
                    <div id="{{=ch_id.replace(':','_')}}" class="chapter_file">
                    </div>
                </div>
            </div>
            {{pass}}

            <div class="stats_chapter_row">
                <div class="stats_chapter_cell">{{=TD(T('Total'))}}</div>
                <div class="stats_chapter_cell" id="total-chapter-files"></div>
            </div>
        </div>
    </div>
    <!--chapters end -->


</div>
<!-- tab-content-end -->

<script type="text/javascript">
/*

 * Copyright 07-Jan-2016, 12:52:49
 *
 * Author    : Dulip Withanage , University of Heidelberg
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
var chapter_ids = {{=XML(chapter_ids)}};

var book_id = {{=XML(book_id)}};

$('#statistik-button').click(function () {

    $('#oas').slideToggle()
});


function guid() {
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        s4() + '-' + s4() + s4() + s4();
}

function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
}

function typesort(a, b) {
    return a.split('-')[2] > b.split('-')[2];
}

/**
 *
 * @param data Response data
 * @param id  input id
 * @returns { value}
 */
function setValue(data, id) {
    try {
        total = data.items[id].sum.requests;
        return total;

    } catch (e) {
        console.info( id, 'does not have any values');
    }

};

var url = "https://statistik.ub.uni-heidelberg.de/oa_statistik/doc_id/period/?doc_id=" + [book_id].concat(chapter_ids).join(',')  +"&uid=" + guid();

/**
 *  get data from url and set values
 */
$.getJSON(url, function (data) {

    var chapter_total = 0;

    // set chapter  values

    for (var i = 0; i < chapter_ids.length; i++) {

        var chapter_div = '#' + chapter_ids[i].replace(':', '_');

        var chapter_val = setValue(data, chapter_ids[i]);

        if (parseInt(chapter_val)!==0  & chapter_val !== undefined) {
            $(chapter_div).text(chapter_val);
            chapter_total += chapter_val;
        }

    }

    // set chapter total
    $("#total-chapter-files").text(chapter_total);



    // set book value(s)

    var b = book_id[0].replace(':', '_');

    $("#" + b).text(setValue(data, book_id));

}).fail(function () {

    $('#statistik-button').hide();

    console.error("statistik service unavaliable");
});


</script>
